&mmc0 {
    status = "okay";
    bus-width = <8>;
    non-removable;
    cap-mmc-highspeed;
    mmc-hs200-1_8v;

    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        /* 1MB BL2 */
        partition@0 {
            label = "bl2";
            reg = <0x00000000 0x00100000>;
            read-only;
        };

        /* 4MB FIP */
        partition@100000 {
            label = "fip";
            reg = <0x00100000 0x00400000>;
            read-only;
        };

        /* 64MB kernel */
        partition@500000 {
            label = "kernel";
            reg = <0x00500000 0x04000000>;
        };

        /* 256MB rootfs */
        partition@4500000 {
            label = "rootfs";
            reg = <0x04500000 0x10000000>;
        };

        /* 64MB rootfs_data */
        partition@14500000 {
            label = "rootfs_data";
            reg = <0x14500000 0x04000000>;
        };

        /* 剩余空间全部给 userdata（Docker / 下载 / 缓存） */
        partition@18500000 {
            label = "userdata";
            reg = <0x18500000 0x7E7B0000>; /* 你可以根据实际 eMMC 大小调整 */
        };
    };
};
